<div> 
	search : <input id="search-mp3" type="text" value="{{ query }}" />
	<ul id="mp3-collection">
	{% for item in results %}
	<li class="item" item-id="{{ item.id }}"><a href="#"><strong> {{ item.title }}</strong> ({{ item.text }}) - {{ item.date }}</a></li>
	{% endfor %}
	</ul>
	{% if hasPrevious %}
	<button id="range-previous-button" >previous</button>
	{% endif %}
	{% if hasNext %}
	<button id="range-next-button" >next</button>
	{% endif %}
	<span id="range-state">{{ start }}-{{ end }}/{{ total }}</span>
</div>
