[submodule "node_modules/deep-swig"]
	path = node_modules/deep-swig
	url = git@github.com:nomocas/deep-swig.git
[submodule "node_modules/deep-node-fs"]
	path = node_modules/deep-node-fs
	url = git@github.com:nomocas/deep-node-fs.git
[submodule "www/libs/deep-jquery-ajax"]
	path = www/libs/deep-jquery-ajax
	url = git@github.com:nomocas/deep-jquery-ajax.git
[submodule "www/libs/deep-local-storage"]
	path = www/libs/deep-local-storage
	url = git@github.com:nomocas/deep-local-storage.git
[submodule "node_modules/deep"]
	path = node_modules/deep
	url = git@github.com:nomocas/deepjs.git
[submodule "node_modules/autobahn"]
	path = node_modules/autobahn
	url = git@github.com:nomocas/autobahn.git
